body{
	background-color: #c983b2;
}

@media screen and (min-width: 400px){
header{
	background-image: url('../images/LogoSmall.png');
	min-height: 50px;
	background-position: right top;
	background-repeat: no-repeat;
	}
}

@media screen and (min-width: 800px){
header{
	background-image: url('../images/LogoLarge.png');
	min-height: 100px;
	background-position: right top;
	background-repeat: no-repeat;
}

.kittypic{
	position:absolute;
	width:30%;
	height:auto;
}

main{
	background-color: brown;
}

	